/* CSS variables */
:root {
  --highlight-colour: #c4ebfc;
  --secondary-colour: #00004b;
  --border: 5px solid var(--highlight-colour);
  --border-right: 3px solid var(--secondary-colour);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  color: var(--secondary-colour);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header */

#header {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 5px;
  background-color: var(--secondary-colour);
}

#header h1 {
  padding-left: 40px;
}

#header img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  /* Make image circular */
  border-radius: 50%;
}

#navigation {
  display: flex;
  /* Fill screen width */
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

/* Remove bullet point for all uls */
ul {
  list-style: none;
}

/* Make text decoration slightly thicker for all anchors in uls */
ul a {
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

#navigation ul li {
  cursor: pointer;
  display: inline-block;
  padding: 0px 10px;
  color: var(--highlight-colour);
}

/*
  To add a bit of space to the right of the
  last list item.
*/
#navigation ul li:last-child {
  margin-right: 20px;
}

#navigation a {
  color: var(--highlight-colour);
}

.highlight {
  padding: 0px 10px;
  background-color: var(--highlight-colour);
  color: var(--secondary-colour);
}

/* Hero */

.hero-banner {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  /* To get the text to go to the bottom */
  display: grid;
  align-content: flex-end;
}

/* Put h2 text at right corner + Only highlight the h2 text */
.hero-banner div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
  margin-right: 20px;
}

/* Main section */

/* Use page-wrapper as grid container */
.page-wrapper {
  padding: 40px;
  display: grid;
  gap: 20px 0px;
  grid-template-columns: repeat(12, 1fr);
}

#about {
  border-right: var(--border-right);
}

.content {
  grid-column: 2 / -1;
}

#work {
  border-right: var(--border-right);
}

#contact {
  border-right: var(--border-right);
}

/* use page-section as grid area since they all have it as a class */
.page-section, .content {
  padding: 0px 20px 20px 20px;
}

.page-section h2 {
  text-align: end;
}

/* Work section */

#portfolio-grid {
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "horiseon horiseon"
  "rfid proximitydetector"
  "avrdisplay avrpong";
}

#horiseon {
  grid-area: horiseon;
  border: var(--border);
  background-image: url("../images/horiseon_website.png");
}

#rfid {
  grid-area: rfid;
  border: var(--border);
  background-image: url("../images/rfid_scanner.jpeg");
}

#proximitydetector {
  grid-area: proximitydetector;
  border: var(--border);
  background-image: url("../images/proximity_detector.jpeg");
}

#avrdisplay {
  grid-area: avrdisplay;
  border: var(--border);
  background-image: url("../images/avr_display.jpeg");
}

#avrpong {
  grid-area: avrpong;
  border: var(--border);
  background-image: url("../images/avr_pong.jpg");
}

.portfolio-grid-area {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  align-content: end;
}

.heading {
  display: inline-block;
  font-size: 22px;
  background-color: var(--highlight-colour);
}

/* Contact section */

/*
  Make contact-content ul flex to justify content space between
  to fill contact content grid
 */
#contact-content ul {
  padding: 0px;
  display: flex;
  gap: 0px 30px;
  font-size: 20px;
  justify-content: space-between;
}

#contact-content ul:first-child {
  padding-left: 20px;
}

#contact-content ul li {
  display: inline-block;
  padding-right: 20px;
}

#contact-content ul li a {
  color: var(--secondary-colour);
}
