/* CSS variables */
:root {
  --highlight-colour: #c4ebfc;
  --secondary-colour: #00004b;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  color: var(--secondary-colour);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header */

#header {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 5px;
  background-color: var(--secondary-colour);
}

#header h1 {
  padding-left: 40px;
}

#header img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  /* Make image circular */
  border-radius: 50%;
}

#navigation {
  display: flex;
  /* Fill screen width */
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

#navigation ul li {
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
  /* Make text decoration slightly thicker */
  text-decoration-thickness: 3px;
  padding: 0px 10px;
  color: var(--highlight-colour);
}

/*
  To add a bit of space to the right of the
  last list item.
*/
#navigation ul li:last-child {
  margin-right: 20px;
}

#navigation a {
  color: var(--highlight-colour);
}

.highlight {
  padding: 0px 10px;
  background-color: var(--highlight-colour);
  color: var(--secondary-colour);
}

/* Hero */

.hero-banner {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  /* To get the text to go to the bottom */
  display: grid;
  align-content: flex-end;
}

/* Put h2 text at right corner + Only highlight the h2 text */
.hero-banner div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
  margin-right: 20px;
}

/* Main section */

/* Use page-wrapper as grid container */
.page-wrapper {
  display: grid;
  padding: 10px 80px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "about about"
  "work work"
  "contact contact"
}

#about {
  grid-area: about;
}

#work {
  grid-area: work;
}

#contact {
  grid-area: contact;
}

/* use page-section as grid area since they all have it as a class */
.page-section {
  padding-top: 20px;
  display: flex;
}

.page-section h2 {
  display: flex;
  text-align: end;
  width: 10%;
  justify-content: flex-end;
}

.vertical-line {
  border-right: 2px solid var(--secondary-colour);
  padding-right: 20px;
}
