/* CSS variables */
:root {
  --highlight-colour: #c4ebfc;
  --secondary-colour: #00004b;
  --border-highlight: 5px solid var(--highlight-colour);
  --border-section: 3px solid var(--secondary-colour);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  color: var(--secondary-colour);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header */

#header {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 5px;
  background-color: var(--secondary-colour);
}

#header h1 {
  padding-left: 40px;
}

#header img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  /* Make image circular */
  border-radius: 50%;
}

#navigation {
  display: flex;
  /* Fill screen width */
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

/* Remove bullet point for all uls */
ul {
  list-style: none;
}

/* Make text decoration slightly thicker for all anchors in uls */
ul a {
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

#navigation ul li {
  cursor: pointer;
  display: inline-block;
  padding: 0px 10px;
  color: var(--highlight-colour);
}

/*
  To add a bit of space to the right of the
  last list item.
*/
#navigation ul li:last-child {
  margin-right: 20px;
}

#navigation a {
  color: var(--highlight-colour);
}

.highlight {
  padding: 0px 10px;
  background-color: var(--highlight-colour);
  color: var(--secondary-colour);
}

/* Hero */

.hero-banner {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  /* To get the text to go to the bottom */
  display: grid;
  align-content: flex-end;
}

/* Put h2 text at right corner + Only highlight the h2 text */
.hero-banner div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
  margin-right: 20px;
}

/* Main section */

/* Use page-wrapper as grid container */
.page-wrapper {
  padding: 40px;
  display: grid;
  gap: 20px 0px;
  grid-template-columns: repeat(12, 1fr);
}

#about {
  border-right: var(--border-section);
}

.content {
  grid-column: 2 / -1;
}

#work {
  border-right: var(--border-section);
}

#contact {
  border-right: var(--border-section);
}

.page-section, .content {
  padding: 0px 20px 20px 20px;
}

.page-section h2 {
  text-align: end;
}

/* Work section */

#portfolio-grid {
  display: grid;
  grid-template-rows: 500px 200px 200px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "horiseon horiseon"
  "rfid proximitydetector"
  "avrdisplay avrpong";
}

#horiseon {
  grid-area: horiseon;
  border: var(--border-highlight);
}

#rfid {
  grid-area: rfid;
  border: var(--border-highlight);
}

#proximitydetector {
  grid-area: proximitydetector;
  border: var(--border-highlight);
}

#avrdisplay {
  grid-area: avrdisplay;
  border: var(--border-highlight);
}

#avrpong {
  grid-area: avrpong;
  border: var(--border-highlight);
}

.portfolio-grid-area {
  /* spacing between grid items */
  margin: 5px;
  cursor: pointer;
  /* needed to position the overlay */
  position: relative;
}

/* Add animation to grid */
.portfolio-grid-area:hover {
  transform: scale(1.025);
}

.portfolio-grid-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  background-color: var(--highlight-colour);
  font-size: 22px;
  padding: 10px;
  text-align: left;
  margin-bottom: 20px;
}

.overlay p {
  font-size: 12px;
}

/* Contact section */

/*
  Make contact-content ul flex to justify content space between
  to fill contact content grid
 */
#contact-content ul {
  padding: 0px;
  display: flex;
  gap: 0px 30px;
  font-size: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

#contact-content ul:first-child {
  padding-left: 20px;
}

#contact-content ul li {
  display: inline-block;
  padding-right: 20px;
}

#contact-content ul li a {
  color: var(--secondary-colour);
}

/* Media Query - Responsiveness */

@media only screen and (max-width: 1000px) {
  /* Add space around list items so it's easier to click */
  #contact-content ul li {
    padding: 10px;
  }
}

@media only screen and (max-width: 630px) {
  /* Remove nav bar */
  #navigation {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  /* Restructure main section */
  #about {
    /* border-bottom: var(--border-section); */
    border-right: none;
    grid-column: 1 / -1;
  }

  .content {
    grid-column: 1 / -1;
  }

  #work {
    border-right: none;
    grid-column: 1 / -1;
  }

  #contact {
    border-right: none;
    grid-column: 1 / -1;
  }

  .page-section, .content {
    padding: 0px 0px 20px 20px;
  }

  .page-section h2 {
    text-align: start;
    border-bottom: var(--border-section);
  }

  /* Restructure project grid */
  #portfolio-grid {
    display: grid;
    grid-template-rows: 300px repeat(4, 200px);
    grid-template-columns: 1fr;
    grid-template-areas:
    "horiseon"
    "rfid"
    "proximitydetector"
    "avrdisplay"
    "avrpong";
  }

  /* Restructure contact me */
  #contact-content ul {
    display: flex;
    /* Fill screen width */
    /* width: 100%; */
    flex-direction: column;
    gap: 10px 0px;
    margin: 0;
  }
}
